[user]
	email = benvmarden@gmail.com
	name = Ben Marden
	signingkey = 72445973A6BE5B46
[core]
	editor = nvim
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
[merge]
	tool = vimdiff3
[mergetool "vimdiff3"]
	path = nvim
[commit]
	gpgsign = true
